.fcks {
    color: #3f525c;
    background-color: orange;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}
button.give-fck {
    position: relative;
    background-color: orange !important;
    color: white;
  }