/* IssuesComponent's private CSS styles */

h2 {
  font-family: "Lucida Console", Monaco, monospace !important;
}
.issues {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 40em;
}
.issues li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2.0em;
  border-radius: 4px;
}

.issues li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.issues a {
  color: #333;
  text-decoration: none;
  /*padding: 0.0em 0.0em 0.8em 0.0em;*/
  position: relative;
  display: block;
  width: 500px;
  height: 2em;
}

.issues a:hover {
  color: #607D8B;
}

.issues .badge {
  font-family: "Lucida Console", Monaco, monospace !important;
  display: inline-block;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #3f525c;
  line-height: 1em;
  position: relative;
  top: -4px;
  height: 1.7em;
  min-width: 2em;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.issues .fcks {
  position: relative;
  top: -15%;
  left: -0.25em;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
  top: -80%
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  right: -94%;
  background-color: red !important;
  color: white;
}

button.give-fck {
  right: -78%;
}

