<h2>All Issues</h2>
<div>
    <label>Issue text:
      <input #issueText />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(issueText.value); issueText.value=''">
      add
    </button>
  </div>
<ul class="issues">
    <!-- [class.selected] refers to the CSS class instance -->
    <li *ngFor="let issue of issues">
        <a routerLink="/detail/{{issue.id}}">
          <span class="badge"> {{issue.id}}</span> <span class="fcks">{{issue.fcks}}</span> {{issue.text}}
        </a>
          <button class="delete" title="delete issue"
              (click)="delete(issue)">x</button>
          <button class="give-fck" title="give a fck"
              (click)="giveFck(issue)">give a fck</button>
    </li>
</ul>
